img{
    width: 1100px;
    height: 350px;
}

.imgs1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0 200px ;
    font-weight: 600;
  
margin-bottom: 50px;

}

.rounded{

    width:90%;
    height: auto;
}

mh{

    display: grid;
    grid-template-columns: auto;
    padding: 0 200px ;
}